.l{
    &-shop{
        &-ttl{
            text-align: center;
        }
        &-content{
            margin-top: 30px;
            text-align: center;
            justify-content: center;
            // height: 100vh;
            .table{
                width: 80%;
                text-align: left;
                border-collapse: collapse;
                border: 1px solid #04aa6d30;
                thead{
                    background-color: #04aa6d;
                    color: #ffffff;
                }
                tr, th, td{
                    padding: 10px 15px;
                }
                tr{
                    &:nth-child(odd){
                        background-color: #eeeeee40;
                    }
                    &:hover{
                        background-color: #eeeeee99;
                    }
                    th{
                        font-size: 18px;
                        font-family: Roboto, sans-serif;
                    }
                    td{
                        font-size: 14px;
                        font-family: Roboto, sans-serif;
                        vertical-align: middle;
                    }
                }
                img{
                    max-width: 70px;
                }
            }
        }
    }
}