.l{
    background: cadetblue;
    padding: 70px;
    &-shop{
        &-ttl{
            text-align: center;
        }
        &-content{
            margin-top: 30px;
            text-align: center;
            columns: 450px 3;
            img{
                width: 100%;
                max-width: 450px;
                padding: 10px 0;
            }
        }
    }
}