.l{
    &-jqtest{
        h2{
            font-size: 20px;
            font-family: Roboto, sans-serif;
            text-align: center;
        }
        figure{
            text-align: center;
            img{
                width: 100%;
                max-width: 900px;
            }
        }
    }
}